*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Mulish", Arial, sans-serif;
}

h1 {
    text-align: center;
}

section {
    background-color: lightgray;
    border-radius: 15px;
    padding-left: 5px;
}

p {
    max-width: 80ch;
}

img {
    margin: 0;
    border-radius: 5px;
}

.path {
    display: flex;
    height: 50px;
    width: 100vw;
    margin-bottom: 10px;
}

#moviePath figure.green {
    background-color: rgb(0, 100, 0);
    border: 4px solid lime;
    padding-top: 10px;
}

.path {
    width: 490px;
}

#checkersPath figure.yellow {
    background-color: rgb(136, 136, 12);
    border: 4px solid yellow;
    padding-top: 10px;
}

#checkersPath figure.green {
    background-color: rgb(0, 100, 0);
    border: 4px solid lime;
    padding-top: 10px;
}

#scriptPath figure.green {
    background-color: rgb(0, 100, 0);
    border: 4px solid lime;
    padding-top: 10px;
}

#face {
    border-radius: 25px;
}

figure {
    text-align: center;
    margin: 0;
    padding-top: 13px;
    width: 33vw;
}

.red {
    background-color: red;
    border-radius: 25px 0 0 25px;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lime;
    border-radius: 0 25px 25px 0;
}

.inline {
    display: flex;
    flex-direction: row;
}

.inline p {
    margin: 0;
}

.text {
    margin-left: 5px;
}
.link {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.proj{
    display: flex;
    flex-direction: row;
    background-color: rgb(119, 212, 212);
    border-radius: 20px;
    width: fit-content;
    margin: 5px;
}

.proj p {
    padding: 0;
}

.proj img {
    margin: 10px;
    border-radius: 10px;
}

.link p {
    margin: 0;
    margin-right: 5px;
}

@media screen and (max-width: 490px) {
    .thumbNail {
        width: 100vw;
        height: auto;
    }
    #face {
        width: 33vw;
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    .proj img {
        width: 95vw;
        height: auto;
    }
    .proj {
        width: 99vw;
        flex-direction: column;
    }
}